<form class="" action="/named-cat" method="post">
  <input type="text" name="name" value="enter name here">
  <input type="text" name="age" value="enter age here">
  <input type="submit" name="" value="Submit">
</form>
